.forgotPasswordPage{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;

}

.forgotPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
    border-radius: 10px;

    margin: 100px;
    padding: 20px;
    background-color: #0B4EAE;
}

.inputFP{
    padding: 15px 20px;
    margin: 20px;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.fpBtn{
    padding:10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.forgotPassword2Page{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    font-family: monospace;
}
.forgotPassword2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f9f9f9;
    border-radius: 10px;
    margin: 100px;
    padding: 20px;
    background-color: #0B4EAE;
}

.FPform{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;

}