<h1>token {{token}}</h1>

<form action={{constructPassword}} method="POST">
    <input type="password" name="newPassword" required placeholder="New Password" />
    <input type="password" name="cpassword" required placeholder="Confirm Password" />
    <input type="submit" value="Update password" />
</form>