 <div style="display: flex; justify-content: center;
    align-items: center; flex-direction: column;
     font-family: monospace; background-color: #252939; color: #fff; border-radius: 10px;" >
        <h1>Movie Times </h1>
        <div>
            <p>Hello {{name}} your Email is Successfuly Verifird click <a href="https://movie2time.netlify.app/">hear</a> to go to the home page </p>

        </div>
    </div>